$app-header-color: #12263a;
$app-footer-color: #fff;
$app-text-color: #4c769c;
$app-secondary-text-color: #8aa6c1;
$app-page-title-color: #4f7396;
$app-link-color: #238cf5;
$app-bg-color: #fcfcfc;
$app-body-color: #233142;

//gray color
$gray-color-100: #eaeaea;
$gray-color-200: #86a7c3;
$gray-color-300: #cdd9e5;
$gray-color-400: #698db0;
$gray-color-500: #8aa7c1;